$font-family: 'Roboto', sans-serif;

$nav-height: 480px;
$sidebar-width: 200px;
$default-border: 1px solid #999999;
$default-border-radius: 2px;

$default: #fff;
$background-color-banner: #fff;
$default-button-color: #37BF91;

