/target/
/data/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
docs/genome-report.aux
docs/genome-report.log
docs/genome-report.out
docs/genome-report.pdf
docs/genome-report.synctex.gz
docs/genome-report.toc
