.main-fab {
  position:absolute;
  z-index:20;
  font-size:30px;
  top:100px;
  left:24px;
}

.md-breadcrumb {
   padding-left:88px;
 }

.navigation {
    background-image: url("../assets/img/nav.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}